.wrapper {
  width: 100%;

  position: fixed;
  bottom: 20px;
  left: 0;
  right: 0;
  z-index: $z-always-top;

  display: flex;
  justify-content: center;

  user-select: none;
  pointer-events: none;

  .appbar {
    padding-inline: 20px;
    width: fit-content;
    max-width: 300px;
    height: 56px;

    background-color: $color-background;
    box-shadow: 0 2px 4px $color-shadow;
    border-radius: $radius-full;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: $gap-md;

    pointer-events: all;

    .button {
      min-width: 60px;
    }
  }
}
