.wrapper {
  width: 100%;

  position: fixed;
  bottom: 20px;
  left: 0;
  right: 0;
  z-index: $z-always-top;

  display: flex;
  justify-content: center;
  gap: $gap-md;

  user-select: none;
  pointer-events: none;
  
  .appbar {
    width: 100%;
    max-width: 300px;
    height: 56px;
    
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    border-radius: $radius-full;
    
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    user-select: all;
    pointer-events: all;
  }
}
