.facilityList {
  h2 {
    padding: 10px;
  }

  .container {
    .buttons {
      padding: 15px 0;
      margin-inline: auto;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
      gap: 10px 30px;

      &:nth-of-type(n + 2) {
        border-top: 1px dashed;
      }

      @media (max-width: 800px) {
        gap: 10px;
      }
    }
  }
}
