$color-text: #333;
$color-on-text: #fff;

$color-primary: #007bff;
$color-on-primary: #fff;

$color-background: #fff;
$color-on-background: #333;

$color-disabled: #ccc;

$color-shadow: rgba(0, 0, 0, 0.4);
