$transition: 0.3s ease-in-out;

$header-height: 70px;
$footer-height: 44px;
$main-padding-bottom: 50px;
$main-height: calc(100vh - $header-height - $footer-height);
$main-height-fixed: calc(100vh - $header-height);
