.button {
  padding: 7px 10px;

  font-size: $fontsize-md;
  color: $color-text;
  background-color: $color-background;
  
  border: solid 2px $color-element-background;
  border-radius: 5px;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  transition: scale 0.3s ease-in-out;
  cursor: pointer;

  &:hover[data-active='false'] {
    scale: 1.05;
  }

  &[data-active='true'] {
    scale: 1.05;
    border: solid 2px $color-primary;
  }

  &:disabled {
    color: $color-disabled;
    cursor: not-allowed;
  }
}
