.button {
  padding: 7px 10px;

  font-size: 1rem;
  color: $color-text;
  background-color: $color-element-background;

  border: none;
  border-radius: 5px;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  transition: scale 0.3s ease-in-out;
  cursor: pointer;

  &:hover[data-active='false'] {
    scale: 1.05;
  }

  &[data-active='true'] {
    scale: 1.05;
    outline: solid 2px $color-primary;
  }
}
