:root {
  font-size: 16px;
}

body {
  height: 100vh;
  width: 100vw;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font-noto-sans-jp);
  --color-primary: #{$color-primary};
}

main[data-fixed='true'] {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: $z-base;
  overflow: hidden;
}
