:root {
  font-size: 16px;
}

body {
  height: 100vh;
  width: 100vw;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main[data-fixed='true'] {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  overflow: hidden;
}
