.spinner {
  width: 40px;
  aspect-ratio: 1 / 1;

  border: 4px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-top-color: $color-primary;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
