.start {
  $size: 15px;

  width: $size;
  height: $size;

  border-radius: $radius-full;
  background-color: $color-background;
  border: 2px solid $color-primary;
  box-shadow: 0 2px 4px $color-shadow;

  cursor: pointer;
}

.end {
  $size: 15px;

  width: $size;
  height: $size;

  border-radius: $radius-full;
  background-color: $color-primary;
  box-shadow: 0 2px 4px $color-shadow;
}
