.wrapper {
  width: 100%;

  position: fixed;
  bottom: 90px;
  left: 0;
  right: 0;
  z-index: $z-always-top;

  display: flex;
  justify-content: center;
  gap: $gap-md;

  user-select: none;
  pointer-events: none;

  .routeSummary {
    width: fit-content;
    max-width: 300px;
    padding: 5px 15px 5px 10px;

    color: $color-on-primary;
    background-color: $color-primary;
    border-radius: $radius-full;
    box-shadow: 0 2px 4px $color-shadow;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: $gap-md;

    pointer-events: all;

    .closeButton {
      .icon {
        color: $color-on-primary;
        font-size: $fontsize-md;
      }
    }

    .destinationButton {
      all: unset;
      cursor: pointer;

      padding: 2px 5px;
      color: $color-text;
      background-color: $color-on-primary;
      border-radius: $radius-sm;
    }
  }
}
