.floorMaps {
  width: 100%;
  max-width: 600px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: $gap-md;

  .floorSection {
    display: flex;
    flex-direction: column;
    gap: $gap-md;

    .floorHeader {
      margin: 0;
      font-size: $fontsize-lg;
    }

    .floorImage {
      padding: 5px;
      border: solid 1px $color-border;
    }
  }

  .tabs {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    gap: $gap-md;
  }
}
