.searchResults {
  .group[data-hidden='true'] {
    display: none;
  }

  h2 {
    padding: 10px;
  }

  .buttons {
    padding: 15px 0;
    margin-inline: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px 30px;

    @media (max-width: 800px) {
      gap: 10px;
    }

    h3 {
      flex: 1;
    }

    .button {
      width: 160px;
    }
  }
}
