.searchResults {
  height: calc(100vh - $header-height);
  height: calc(100dvh - $header-height);
  padding: 10px;
  text-align: center;
  background-color: rgba($color: $color-background, $alpha: 0.8);
  position: fixed;
  top: $header-height;
  left: 0;
  right: 0;
  z-index: 99999;
  transition: all 0.3s ease-in-out;
  overflow-y: scroll;

  &[data-focus='false'] {
    user-select: none;
    pointer-events: none;
    opacity: 0;
  }

  .group[data-hidden='true'] {
    display: none;
  }

  h2 {
    padding: 10px;
  }

  .buttons {
    padding: 15px 0;
    margin-inline: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px 30px;

    @media (max-width: 800px) {
      gap: 10px;
    }

    h3 {
      flex: 1;
    }

    .button {
      width: 160px;
    }
  }
}
