.searchResults {
  .group[data-hidden='true'] {
    display: none;
  }

  h2 {
    padding: 10px;
  }

  .buttons {
    padding: 15px 0;
    margin-inline: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px 10px;

    @media (max-width: 800px) {
      gap: 10px;
    }

    h3 {
      flex: 1;
    }

    .clubButtons,
    .secretButtons,
    .facilityButtons,
    .roomButton {
      width: 160px;
      display: flex;
      flex-direction: column;

      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      .name {
        font-size: $fontsize-md;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    .roomButton {
      width: 200px;

      .facilityName {
        font-size: $fontsize-sm;
      }
    }
  }
}
