.button {
  padding: 10px;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  flex: 1;

  border: 2px solid $color-element-background;
  border-radius: 6px;

  background-color: $color-on-primary;

  font-size: 13px;
  font-weight: 500;

  cursor: pointer;
  transition: all 0.2s ease;

  &:hover {
    border-color: $color-primary;
    background-color: $color-on-primary;
  }

  &.active {
    border-color: $color-primary;
    background-color: $color-primary;
    color: $color-on-primary;
  }

  &[data-selected='true'] {
    border-color: $color-primary;
    background-color: $color-primary;
    color: $color-on-primary;
  }

  &[data-danger='true'] {
    border-color: $color-error;
    background-color: $color-error;
    color: $color-on-error;

    &:hover {
      border-color: darken($color-error, 10%);
      background-color: darken($color-error, 10%);
    }
  }
}
