.header {
  padding: 10px 20px;

  background-color: $color-background;
  border-radius: $radius-lg;

  position: fixed;
  top: 20px;
  left: 20px;
  z-index: $z-always-top;

  .link {
    all: unset;
    cursor: pointer;

    .title {
      font-size: $fontsize-lg;
      font-family: var(--font-m-plus-rounded-1c);
      line-height: $fontsize-lg;
      text-align: center;
    }

    .createdBy {
      font-size: $fontsize-sm;
      line-height: $fontsize-sm;
      text-align: center;
    }
  }
}
