.overlay {
  height: 100vh;
  padding: 100px 10px 100px;

  text-align: center;
  background-color: rgba($color: $color-background, $alpha: 0.8);

  position: fixed;
  inset: 0;
  z-index: $z-overlay;

  transition: all 0.3s ease-in-out;
  overflow-y: scroll;

  &[data-open='false'] {
    user-select: none;
    pointer-events: none;
    opacity: 0;
  }
}

.searchArea {
  width: 100%;

  display: grid;
  grid-template-rows: 1fr auto;
  gap: 50px;

  .inputWrapper {
    width: 100%;
    overflow-x: auto;

    .input {
      margin-inline: auto;
    }
  }
}
