.location {
  height: 20px;
  width: 20px;

  background-color: $color-primary;
  box-shadow: -1px 1px 2px 0px $color-shadow;

  border-radius: 50%;
  border: solid 3px $color-on-primary;

  position: absolute;
  z-index: $z-middle;
  transform-origin: center center;
  transform: translate(-50%, -50%);
}
