.iconButton {
  all: unset;

  padding: 5px;

  color: $color-text;

  display: flex;
  align-items: center;
  flex-direction: column;

  transition: all 0.2s;
  cursor: pointer;

  svg {
    font-size: $fontsize-xl;
  }

  .text {
    width: max-content;
    color: inherit;
    font-size: $fontsize-sm;
  }

  &:hover {
    color: $color-primary;
  }

  &:disabled {
    color: $color-disabled;
    cursor: not-allowed;
  }
}
