.iconButton {
  all: unset;

  color: $color-text;

  display: flex;
  gap: $gap-sm;
  align-items: center;

  transition: all 0.2s;
  cursor: pointer;

  svg {
    font-size: 1.5rem;
  }

  .text {
    color: inherit;
    font-size: 1.2rem;

    @media (max-width: 700px) {
      display: none;
    }
  }

  .icon {
    font-size: 1.5rem;
    cursor: pointer;
  }

  &:hover {
    color: $color-primary;
  }
}
